@import url("https://fonts.googleapis.com/css?family=Teko");

* {
  box-sizing: border-box;
}

body {
  background-color: green; /* Background changeable */
  font-family: "Teko", sans-serif;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100%;
}

.base {
  position: absolute;
  width: 100%;
  /*height: 100%;*/
  z-index: 1;
}

footer.base {
  bottom: 0
}

.app_link:hover {
  text-decoration: underline;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

main {
  margin-top: 0px;
}

/* Header */

.left {
  float: left;
  margin-left: 45px;
}

.name {
  color: white;
  line-height: 45px;
  font-size: 45px;
  text-transform: uppercase;
  margin-top: 45px;
}

.tournament {
  color: white;
  font-size: 25px;
  margin-top: 5px;
  opacity: 0.8;
}

.right {
  text-align: right;
  margin-right: 45px;
}

.app {
  color: white;
  line-height: 45px;
  font-size: 45px;
  margin-top: 45px;
}

.data {
  color: white;
  font-size: 25px;
  margin-top: 95px;
  opacity: 0.8;
  position: relative;
}

.app-o {
  opacity: 0.5;
  margin-right: 6px;
}

/* Content */

/* Footer */

.description {
  width: 35%;
  bottom: 0px;
  left: 0px;
  color: white;
  line-height: 25px;
  font-size: 25px;
  margin-bottom: 45px;
  margin-left: 53px;
  position: absolute;
}

.info {
  width: 41%;
  bottom: 0px;
  left: 0px;
  color: white;
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 53px;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.text {
  opacity: 0.8;
}

.slogan {
  font-size: 30px;
  margin-bottom: 18px;
}


@media (max-width: 1200px) {
  body {
    font-family: "Teko", sans-serif;
  }

  main {
    margin-top: -5px;
  }

  .left {
    margin-left: 40px;
  }

  .right {
    margin-right: 40px;
  }

  .description {
    width: 40%;
    font-size: 22px;
    line-height: 22px;
    margin-left: 48px;
    margin-bottom: 40px;
  }

  .info {
    font-size: 12px;
    margin-left: 48px;
  }

  .slogan {
    font-size: 27px;
    margin-bottom: 16px;
  }

  .data {
    font-size: 22px;
    line-height: 22px;
    margin-top: 89px;
  }

  .app {
    font-size: 42px;
    line-height: 42px;
  }

  .tournament {
    font-size: 22px;
    line-height: 22px;
  }

  .name {
    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: 992px) {
  body {
    font-family: "Teko", sans-serif;
  }

  main {
    margin-top: -10px;
  }

  .left {
    margin-left: 35px;
  }

  .right {
    margin-right: 35px;
  }

  .description {
    width: 45%;
    font-size: 20px;
    line-height: 20px;
    margin-left: 43px;
    margin-bottom: 35px;
  }

  .info {
    font-size: 12px;
    margin-left: 42px;
  }

  .slogan {
    font-size: 25px;
    margin-bottom: 14px;
  }

  .data {
    font-size: 20px;
    line-height: 20px;
    margin-top: 85px;
  }

  .app {
    font-size: 40px;
    line-height: 40px;
  }

  .tournament {
    font-size: 20px;
    line-height: 20px;
  }

  .name {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  body {
    font-family: "Teko", sans-serif;
  }

  main {
    margin-top: -15px;
  }

  .left {
    margin-left: 30px;
  }

  .right {
    margin-right: 30px;
  }

  .description {
    width: 50%;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 30px;
  }

  .info {
    font-size: 12px;
    margin-left: 42px;
  }

  .slogan {
    font-size: 21px;
    margin-bottom: 12px;
  }

  .data {
    font-size: 16px;
    line-height: 16px;
    margin-top: 77px;
    margin-left: 38px;
  }

  .app {
    font-size: 36px;
    line-height: 36px;
  }

  .tournament {
    font-size: 16px;
    line-height: 16px;
  }

  .name {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (max-width: 480px) {
  body {
    font-family: "Teko", sans-serif;
  }

  main {
    margin-top: -20px;
  }

  .left {
    margin-left: 25px;
  }

  .right {
    margin-right: 25px;
  }

  .description {
    width: 65%;
    font-size: 14px;
    line-height: 14px;
    margin-left: 33px;
    margin-bottom: 25px;
  }

  .info {
    margin-left: 33px;
    font-size: 10px;
  }

  .slogan {
    font-size: 19px;
    margin-bottom: 10px;
  }

  .data {
    font-size: 14px;
    line-height: 14px;
    margin-top: 49px;
  }

  .app {
    font-size: 22px;
    line-height: 22px;
  }

  .tournament {
    font-size: 14px;
    line-height: 14px;
  }

  .name {
    font-size: 22px;
    line-height: 22px;
  }
}

@media (max-width: 320px) {
  body {
    font-family: "Teko", sans-serif;
  }

  main {
    margin-top: -25px;
  }

  .left {
    margin-left: 20px;
  }

  .right {
    margin-right: 20px;
  }

  .description {
    width: 70%;
    font-size: 12px;
    line-height: 12px;
    margin-left: 33px;
    margin-bottom: 20px;
  }

  .slogan {
    font-size: 17px;
    margin-bottom: 8px;
  }

  .data {
    font-size: 12px;
    line-height: 12px;
    margin-top: 41px;
  }

  .app {
    font-size: 18px;
    line-height: 18px;
  }

  .tournament {
    font-size: 12px;
    line-height: 12px;
  }

  .name {
    font-size: 18px;
    line-height: 18px;
  }
}

.gui {
  height: 100%;
}
.gui__block {
  height: 100%;
}

.gui__block > div{
  overflow: auto;
  height: 100%;
}

.privacy {
  color:white;
  font-weight: 100;
  font-size: 28px;
  padding: 250px 40px 40px;
}

.support {
  margin-top: 300px;
  text-align: center;
}

.support h1 {
  color:white;
  font-weight: 100;
}

.support h2 {
  color:white;
  font-weight: 100;
}

.support h3 {
  color:white;
  font-weight: 100;
}